=fontFace($family, $src, $style: normal, $weight: normal)
  @font-face
    font-family: $family
    src: url("#{$src}.eot")
    src: url("#{$src}.eot?#iefix") format("embedded-opentype"), url("#{$src}.woff") format("woff"), url("#{$src}.ttf") format("truetype"), url("#{$src}.svg##{$family}") format("svg")
    font-style: $style
    font-weight: $weight

@include fontFace('InterFace','../fonts/InterFace/InterFace')
@include fontFace('InterFace-Bold','../fonts/InterFace-Bold/InterFace-Bold')

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  -moz-font-feature-settings: "liga" on
  user-select: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none

body
  margin: 0
  font-family: 'InterFace', -apple-system, BlinkMacSystemFont, system, -apple-system, ".SFNSText-Regular", "San Francisco", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: #e3e3e3
  color: #262b3f

p
  font-size: 1.6rem

.wrapper
  text-align: left
  font-size: 3rem
  margin: 2.5rem 3rem
  letter-spacing: -.03rem
  line-height: 1.33
  height: calc(100vh - 5rem)
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.logo
  position: absolute
  left: 0
  top: 0
  img
    height: 5rem
    display: block

.controls
  display: flex
  flex-direction: row
  justify-content: center
  min-height: 50px
  margin-bottom: 1rem
  align-self: flex-start
  .links
    font-size: 1.2rem
    a
      -webkit-appearance: none
      border: none
      background: none
      padding: 0
      margin: 0 1rem
      outline: none
      text-decoration: none
      color: #000
      &:hover
        cursor: pointer
      &.active
        text-decoration: underline

.player-wrapper
  display: flex
  justify-content: center
  height: calc(100% - 5rem)


@media only screen and (max-width: 600px)
  .wrapper
    margin: 1rem
  .controls
    justify-content: flex-end
  .controls .links
    font-size: 1rem
    a
      margin: 0
      &:nth-child(2)
        margin-left: 1rem
  .player-wrapper
    height: auto
  video
    max-height: 70vh
