.text_animate{
  color: #000;
  vertical-align: center;
  text-align:  center;
  white-space: nowrap;
  overflow: hidden;
}
.access_code{
  color: #000;
  text-align:  center;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 769px) {
  .text_animate {
    margin-top:200px;
    font-size: 40px;
  }
  .access_code{
    margin-top:40px;
    font-size: 35px;
  }
}
@media (min-width: 769px) {
  .text_animate {
    margin-top:300px;
    font-size: 100px;
  }
  .access_code{
    margin-top:50px;
    font-size: 80px;
  }

}

