.btn_next{
  background-color: #009ef7!important;
  border: 0!important;
  width: 100px!important;
  font-size: 22px;
  margin-top:30px;
}
.btn_prev{
  background-color: #009ef7!important;
  border: 0!important;
  width: 100px!important;
  font-size: 22px;
  margin-top:30px;
  margin-right: 30px;
}
.answer_section{
  text-align: center;
  border-top: solid 1px #cfcfcf;
  padding-top:20px;
  padding-bottom:30px;
}
.comment{
  padding-left: 40px;
  padding-right: 40px;
  font-size:18px;
}
