.btn_next{
  background-color: #009ef7!important;
  border: 0!important;
  width: 100px!important;
  font-size: 22px;
  margin-top:30px;
}
.separate_section{
  text-align: center;
  border-top: solid 1px #cfcfcf;
  margin-right:30px;
  margin-left:30px;
}

@media (min-width: 769px) {
  .separate_section {
    padding-top:80px;
    padding-bottom:60px;
  }
}
@media (max-width: 769px) {
  .separate_section {
    padding-top:30px;
    padding-bottom: 40px;
  }
}

